body
{
    font-family: 'Hind Siliguri', sans-serif;
}


#content 
{
  padding-bottom: 40px;  
}

/* Modify the backgorund color */
.navbar-custom {
  background-color: #FD8533;
}

#involved{
  background-color: #00A8DE;
}


.btn-custom-1 {
  background-color: #00A8DE;
}

.endnotes {
  font-size: 10px;
}


